@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Caveat&family=DM+Sans:wght@400;700&family=Exo&family=Manrope:wght@200&family=Open+Sans&family=Plus+Jakarta+Sans:wght@200&family=Rubik:wght@300;400;500&display=swap');

body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

.header {
 background-image: url('../../image/hero_landing_us_desktop.jpg');
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 width: 100%;
 height: 800px;

 display: block;
 position: relative;

}

.nav__logo {
    display: flex;
    justify-content: space-between;
}

.empty {
    width: 250px;
}

.logo {
    margin-top: 20px;

}

.logo > img{
    width: 200px;
    height: 150px;
}
/*Upper left Buttons*/
.button {
    display: flex;
    justify-content: space-evenly;
    padding-right: 30px;
    margin-top: 20px;
    gap: 8px;
}
.sign-in > *{

    font-size: 22px;
    padding: 10px;
    width: 20px;

    color: white;
    background-color: rgb(235, 23, 0);
    border-radius: 24px;
    box-shadow: transparent 0px 0px 0px 1px inset;

    text-decoration: none;
    text-align: center;
}

.sign-up > *{
    font-size: 22px;
    padding: 10px;
    width: 20px;

    color: rgb(21, 21, 21);
    background-color: white ;
    border-radius: 24px;
    box-shadow: transparent 0px 0px 0px 1px inset;

    text-decoration: none;
    text-align: center;
}

/*text header, search bar*/
.search__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 200px;
}

.text {
    color: white;
    font-size: 20px;
}

.search__bar {
    background-color: white;
    color: rgb(118, 118, 118);
    box-shadow: rgb(214, 214, 214) 0px 0px 0px 1px inset;

    display: flex;
    /* justify-content: flex-start; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 8px 20px;
    border-radius: 32px;
    width: 500px;
    height: 40px;

}

.main__search {
   display: flex;
   align-items: center;
}

input {
    border: none;
}

input:focus {
    outline: none;
}


.arrow__search {
    background-color: rgb(235, 23, 0);
    border-radius: 100%;
    height: 40px;
    width: 40px;
    border: none;
    margin: 4px;

}

.arrow__search > a {
    text-decoration: none;
}

.arrow__search > a > i {
    color: white;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 12px;

}

/*signin search*/
.sign-in-address {
    margin-top: 10px;
    background-color: white;
    color: rgb(75, 73, 73);
    box-shadow: rgb(214, 214, 214) 0px 0px 0px 1px inset;
    border-radius: 24px;
    border: none;

    width: 250px;
    height: 30px;


    font-weight: bold;
    cursor: pointer;
}

.sign-in-address > i {
    margin: 0px 5px;

}
